<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Where do I park? - Texas State University</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Where do I park?</h1>
        <h2>Texas State University</h2>
    </header>
    <div id="map"></div>
    <div id="garage-list">
        
        <div id="garage-records"></div>
    </div>
    <footer>
        <p>&copy; 2024 Where do I park? - Saksham Adhikari</p>
    </footer>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/static/js/app.js"></script>
</body>
</html>
